PORT=3004
# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"
# development
# AUTH_DATABASE_URL=mongodb+srv://xxxxxxxx:pppppppp@auth-microservice-db.8bpm1ia.mongodb.net/AuthDB
# production
AUTH_DATABASE_URL=mongodb+srv://xxxxxxxx:pppppppp@testing.q6ff3cq.mongodb.net/AuthDB
JWT_SECRET=OtroStringSeguroIriaAQUI
